.footer {
  padding: 50px 0;
  background-color: #222222;
  color: #fff;
}

.footer-copy__link {
  color: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    color: #d7d7d7;
  }
}

@media (min-width: 768px) {
  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .footer-copy {
    margin-bottom: 15px;
  }
}
