.header__page::before {
  height: 250px;
  background: url(../img/bg/main-header.svg) no-repeat center, linear-gradient(107.86deg, #385D8D 36.25%, #091366 70.23%);
  display: block;
  content: '';
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header__page .nav__logo-wrap {
    height: 80px;
  }
  .nav__logo-name {
    font-size: 24px;
  }
}
