.section-layer {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-layer__title {
  color: #9dacc2;
  text-transform: uppercase;
}

.section-layer__content {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  color: #4f4949;
  flex: 1;
}

@media (min-width: 800px) {
  .section-layer__title {
    text-align: center;

    margin-bottom: 40px;
    font-size: 48px;
  }
}

@media (max-width: 799px) {
  .section-layer {
    padding-top: 100px;
  }
  .section-layer__title {
    margin-bottom: 25px;
    font-size: 30px;
  }
}
