$link-decoration: none;
$headings-margin-bottom: 2rem;
$font-family-base: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$green: #227907;
$black: #252525;
$mainColor: #272f39;
$bgContent: #f0efea;
$yellow: #f5d000;
$white: #fff;
