<!doctype html>
<html lang="ru">
<head>
@@include('partial/head.html', {
"title": "404 ошибка",
"description": "404 ошибка - такой страницы не существует"
})
</head>
<body class="header__page">
@@include('partial/nav-page.html')

<article class="not-fount">
    <div class="not-fount__inner container">
      <ul class="breadcrumbs list__unstyled">
        <li class="breadcrumbs__item">
          <a href="index.html" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          Страница не найдена
        </li>
      </ul>

        <h1 class="section-layer__title">
          Страница не найдена
        </h1>
    </div>
</article>

@@include('partial/footer.html')

@@include('partial/scripts.html')
</body>
</html>
