<!doctype html>
<html lang="ru">
<head>
  @@include('partial/head.html', {
  "title": "Контактная информация",
  "description": "Контактная информация фронтенд разработчика Александра"
  })
</head>
<body>
@@include('partial/header-page.html')

<article class="section-layer__content section-layer">
  <div class="container">
    <h1>Контактная информация</h1>

    <div class="contacts">
      <form id="contact-form" method="post">
        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

        <p class="label">Full Name *</p>
        <input type="text" name="name" placeholder="Full Name" required>

        <p class="label">Email *</p>
        <input type="email" name="email" placeholder="Email" required>

        <p class="label">Message *</p>
        <textarea name="message" rows="6" placeholder="Type your message here" required></textarea>

        <!-- Скрытый div “alert” ниже для отображения сообщения, возвращаемого с сервера после отправки данных формы-->

        <div id="alert"></div>

        <button id="submit-button" type="submit">Send Message</button>
      </form>


<!--
      <form action="/php/sendmail.php" method="POST" id="ajax_form" class="contacts-column contacts-form">
        <input type="hidden" name="form_name">

        <div class="ui-group">
          <input type="text" name="ui_name" placeholder="Имя" class="ui-field hide-placeholder" required>
        </div>

        <div class="ui-group">
          <input type="email" name="ui_email" placeholder="Email" class="ui-field hide-placeholder" required>
        </div>

        <div class="ui-group">
          <textarea name="ui_message" class="ui-field hide-placeholder" placeholder="Сообщение" required></textarea>
        </div>

        <div class="agreement ui-group">
          <label class="label-checkbox">
            <input type="checkbox" name="ui_check" class="checkbox-custom">
            <span class="checkbox-custom-view">Я даю свое согласие на обработку персональных данных</span>
          </label>
        </div>

        <button type="submit" class="btn btn-blue" id="submit-button">
          <span class="btn-text">Отправить</span>
        </button>

        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
      </form>
-->

      <div class="contacts-column">
        <p>Адрес: г. Москва, ул. Поклонная, 3, вход Е1</p>
        <p>Телефон: +7 (968) 740-96-46</p>
      </div>
    </div>
  </div>
</article>

@@include('partial/footer.html')

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://www.google.com/recaptcha/api.js?render=6LfXZCEaAAAAAO3QtLWSrG5ofpC1IMwBJqo0TCNg"></script>

<script>
  $('#contact-form').submit(function(event) {
    event.preventDefault(); // Prevent direct form submission
    $('#alert').text('Processing...').fadeIn(0); // Display "Processing" to let the user know that the form is being submitted
    grecaptcha.ready(function () {
      grecaptcha.execute('6LfXZCEaAAAAAO3QtLWSrG5ofpC1IMwBJqo0TCNg', { action: 'contact' }).then(function (token) {
        var recaptchaResponse = document.getElementById('recaptchaResponse');
        recaptchaResponse.value = token;
        // Make the Ajax call here
        $.ajax({
          url: 'contact.php',
          type: 'post',
          data: $('#contact-form').serialize(),
          dataType: 'json',
          success: function( _response ){
            // The Ajax request is a success. _response is a JSON object
            var error = _response.error;
            var success = _response.success;
            if(error != "") {
              // In case of error, display it to user
              $('#alert').html(error);
            }
            else {
              // In case of success, display it to user and remove the submit button
              $('#alert').html(success);
              $('#submit-button').remove();
            }
          },
          error: function(jqXhr, json, errorThrown){
            // In case of Ajax error too, display the result
            var error = jqXhr.responseText;
            $('#alert').html(error);
          }
        });
      });
    });
  });
</script>

@@include('partial/scripts.html')
</body>
</html>
