<!doctype html>
<html lang="ru">
<head>
  @@include('partial/head.html', {
  "title": "Контактная информация",
  "description": "Контактная информация фронтенд разработчика Александра"
  })
</head>
<body>
@@include('partial/header-page.html')

<article class="section-layer__content section-layer">
  <div class="container">
    <h1>Контактная информация</h1>

    <div class="contacts">
      <div class="contacts-column">
        <p>Адрес: г. Москва, ул. Поклонная, 3, вход Е1</p>
        <p>Телефон: +7 (968) 740-96-46</p>
      </div>
    </div>
  </div>
</article>

@@include('partial/footer.html')



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/feedback/script.js"></script>

<script src="https://www.google.com/recaptcha/api.js?render=6LcVLJkbAAAAAMq1wVYd25RNKbe2twg3UAuLGblD"></script>

@@include('partial/scripts.html')
</body>
</html>
