<!doctype html>
<html lang="ru">
<head>
@@include('partial/head.html', {
"title": "Портфолио",
"description": "Портфолио и много хороших и последних работ фронтенд разработчика Александра"
})
</head>
<body class="header__page">
@@include('partial/nav-page.html')

<section class="experience section-layer" id="experience">
  <div class="work-inner container">
    <ul class="breadcrumbs list__unstyled">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        Опыт работы
      </li>
    </ul>

    <h1 class="section-layer__title">Опыт работы</h1>

    <ul class="experience-list list__unstyled">
      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">12/2019 — по наст.</div>
          <div class="experience-date__time">1 год 8 месяц</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Алианта Групп»</div>
          <div class="experience-post">Фронтенд разработчик</div>
          <div class="experience-text">
            1. Полная фронтенд-разработка нового концепта онлайн-витрины wineexpres.ru<br>
            2. Разработка корпоративных сайтов компании<br>
            3. Добавление нового функционала на CMS Битрикс<br>
            3. Совмещал работу в бекенд-разработке
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">07/2018 — 12/2019</div>
          <div class="experience-date__time">1 год 6 месяцев</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Смарт Оранж»</div>
          <div class="experience-post">Разработчик фронтенда</div>
          <div class="experience-text">
            <ul>
              <li>Верстка новых интернет-магазинов на 1С-Битрикс (дизайн из макетов Figma, Illustrator, Photoshop).</li>
              <li>Командная фронтэнд разработка компонентов bitrix (HTML+CSS+jQuery/JS+PHP).</li>
              <li>Изменения/добавление функционала в уже существующие проекты компании.</li>
              <li>Создание и поддержка корпоративных сайтов для группы компаний «RDC Group».</li>
              <li>Верстка лендинг и акционных страниц.</li>
              <li>Верстка e-mail писем.</li>
              <li>Работаем по методология scrum. Двух недельные спринты, еженедельные короткие митап встречи, оценки задач по
                story points, постановка задач из JIRA.</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">11/2017 — 06/2018</div>
          <div class="experience-date__time">8 месяцев</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Система Контроля Договорных Отношений +»</div>
          <div class="experience-post">Разработчик</div>
          <div class="experience-text">
            В мои обязанности входило:

            <ol>
              <li>Переверстать всю систему документооборота согласно новому UI дизайну (с чем я успешно справился)</li>
              <li>Создание корпоративных сайтов для компании и её партнёров от frontend до backend реализации</li>
              <li>Переделка и поддержка текущего сайта компании skdo.ru</li>
            </ol>

            Сотрудничество с компанией завершил на хорошей ноте, свою функцию я выполнил, это переделка основной системы https://i.skdo.ru в ней я переделал 2 кабинета СРО и ЧСРО и еще 2 подкабинета.
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">07/2017 — 10/2017</div>
          <div class="experience-date__time">4 месяца</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">«AZRO STUDIO»</div>
          <div class="experience-post">Веб разработчик</div>
          <div class="experience-text">
            <ol>
              <li>HTML верстка (HTML+CSS+JavaScript);</li>
              <li>Интеграция верстки в MODX Revolutions;</li>
              <li>Верстка интернет магазинов;</li>
              <li>Верстка корпоративных сайтов.</li>
            </ol>
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">07/2016 — 06/2017</div>
          <div class="experience-date__time">1 год</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Аполло 9»</div>
          <div class="experience-post">Ведущий HTML верстальщик</div>
          <div class="experience-text">
            Руководил группой верстальщиков.
            <br>
            <br>
            Введение новых верстальщиков в особенности верстки в компании.<br>
            Верстка макетов (PSD формата adobe photoshop).<br>
            Выполнение поставленных задач в системе Jira на основе ТЗ и макетов.
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">01/2016 — 06/2016</div>
          <div class="experience-date__time">6 месяцев</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Ремонтник.ру»</div>
          <div class="experience-post">HTML-верстальщик</div>
          <div class="experience-text">
            Верстка макетов (png формата adobe fireworks).
            <br>
            <br>
            Приобрел умение работать в большой команде и работать по workflow.<br>
            Умение работать с GIT.<br>
            Приобрел навык работы с фраемворком django.
            <br>
            <br>
            Процесс верстки:<br>
            Выполнение поставленных в Jira задач на основе ТЗ и макетов.<br>
            Недельные спринты<br>
            Обязательный Code Review всех изменений перед выгрузкой.<br>
            Обязательное покрытие кода тестами перед выгрузкой.<br>
            Ежедневные обсуждения рабочего процесса с целью введения команды в курс дела и оптимизации рабочего
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">02/2014 — 11/2015</div>
          <div class="experience-date__time">1 год 10 месяцев</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">ООО «Социальные услуги»</div>
          <div class="experience-post">Помощник программиста</div>
          <div class="experience-text">
            <ol>
              <li>Верстка сайтов (HTML+CSS+jQuery). Верстка с помощью фраемворков bootstrap \ foundation;</li>
              <li>Интеграция готовой верстки в CMS WordPress;</li>
              <li>Интеграция готовой верстки в CMS MODX Revo/Evo;</li>
              <li>Проверка ошибок на сайтах и их устранение;</li>
              <li>Создание, распространение и курирование сайтов.</li>
            </ol>
            <br>
            <br>
            Изредка в мои обязанности входило:
            <br>
            <br>
            - Наполнение сайтов текстовой, графической и другими видами информации;<br>
            - Обучение новых контент-менеджеров;<br>
            - Управления различными хостингами и их настройкой;<br>
            - Покупка, настройка доменов. Настройке DNS, веб-почты;<br>
            - Ремонт/замена/чистка железа (ноутбуки, стационарные компьютеры);<br>
            - Настройка ПО компьютеров;<br>
            - Изредка выполнял обязанности руководителя IT отдела;<br>
            - Настройка электронных торгов на госплощадках.
          </div>
        </div>
      </li>

      <li class="experience-item">
        <div class="experience-date">
          <div class="experience-date__period">12/2012 — 02/2014</div>
          <div class="experience-date__time">1 год 3 месяца</div>
        </div>
        <div class="experience-content">
          <div class="experience-name">фриланс</div>
          <div class="experience-post">Html-верстальщик</div>
          <div class="experience-text">
            1. HTML верстка (HTML+CSS+jQuery);<br>
            2. Интеграция верстки в WordPress;<br>
            3. Опыт управления различными хостингами и их настройкой;<br>
            4. Опыт в покупке, настройке доменов. Владею знаниями и опытом в настройке DNS, веб-почты сервера;<br>
            5. Опыт и умение пользоваться photoshop и другими графическими редакторами.
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

@@include('partial/footer.html')

@@include('partial/scripts.html')
</body>
</html>
