.footer {
  padding: 50px 0;
  background-color: #222222;
  color: #fff;
}

@media (min-width: 768px) {
  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .footer-copy {
    margin-bottom: 15px;
  }
}
