.header-page .btn-light {
    margin-bottom: 20px;
}

.logo {
    width: 227px;
}

.header-content .row {
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.header-center {
    margin-top: 20px;
}

.phones {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    display: flex;
    li:last-of-type {
        margin-left: auto;
        .phone-hint {
            left: auto;
            right: 0;
        }
    }
}

.phone-num {
    color: #333;
}

.phone-hint {
    display: block;
    @include font-size(14px);
}

.header-search {
    position: relative;
    overflow: hidden;
}

.header-search-button {
    position: absolute;
    right: -4px;
    top: 0;
    z-index: 5;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    .icon-search {
        width: 31px;
        height: 33px;
        transition: stroke 0.3s ease;
        stroke: #333;
    }
    &:hover .icon-search {
        stroke: $pink;
    }
}

.header-info {
    margin-left: auto;
}

.basket-link {
    display: flex;
    outline: 1px solid rgba(#ff7cb0, 0);
    outline-offset: 5px;
    transition: all .3s ease;
    &:hover {
        outline-color: rgba(#ff7cb0, 1);
    }
}

.basket {
    color: #333;
    display: inline-flex;
    align-items: center;
    @include font-size(16px);
    .icon-basket {
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }
}

.basket-total {
    color: #333;
    display: inline-flex;
    align-items: baseline;
    @include font-size(16px);
    .icon-rub {
        width: 14px;
        height: 14px;
        position: relative;
        bottom: -2px;
        fill: $black;
    }
}
