@import "../common/variables";

.header-panel {
    border-bottom: 1px solid $black;
    background-color: $pink;
    .row {
        height: 40px;
    }
    .socials li:not(:first-child):not(:last-child) {
        margin: 0 10px;
    }
}

.socials {
    padding-top: 1px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: baseline;
    svg {
        fill: #fff;
        transition: all 1.3s ease;
    }
    a:hover svg {
        fill: $black;
    }
    .icon-vk {
        width: 35px;
        height: 35px;
    }
    .icon-fb {
        width: 32px;
        height: 32px;
    }
    .icon-ig {
        width: 33px;
        height: 33px;
    }
}

.free-shipping {
    text-align: right;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg {
        width: 36px;
        height: 36px;
        margin-right: 15px;
        fill: #fff;
    }
}
