.html-work {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #2b323c;
  position: relative;
  &::before {
    width: 100%;
    height: 100%;
    background: url(../img/bg.svg) no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    white-space: nowrap;
    opacity: .05;
    content: '';
  }
  .section-layer {
    position: relative;
    z-index: 2;
  }
  .section-title {
    margin-bottom: 40px;
  }

  .work-title {
    color: #9dacc2;
    a {
      color: inherit;
      &::before {
        color: #fff;
      }
    }
  }
}

.work-list {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.work-list__item {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  @media (max-width:567px) {
    width: 100%;
    text-align: center;
  }
  @media (min-width:568px) {
  max-width: calc(100% / 3);
  flex-basis: calc(100% / 3);
  }
}

.work-title {
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  a {
    position: relative;
    &::before {
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      display: inline-block;
      content: attr(data-word);
      transition: all 0.5s ease;
    }
    &:hover::before {
      width: 100%;
    }
  }
}

.work-media {
  margin-bottom: 10px;
  border: 3px solid #9cacc3;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease;
  &::before {
    width: 100%;
    height: 100%;
    background-color: rgba(#9cacc3, .7);
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    content: '';
  }
  &:hover {
    box-shadow: 0 0 15px rgba(#4a6caa, .4);
    &::before {
      opacity: 1;
    }
    .work-links {
      opacity: 1;
    }
    .work-links__item {
      opacity: 1;
    }
    .work-links__source {
      transform: translateX(0);
    }
    .work-links__link {
      transform: translateX(0);
    }
    .work-design {
      opacity: 1;
    }
  }
}

.work-links {
  width: 100%;
  padding: 20px 5px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 8;
  font-size: 14px;
  opacity: 0;
  color: #fff;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  svg {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    fill: #fff;
  }
  .www {
    height: 24px;
    width: 26px;
  }
}

.work-links__item {
  padding-left: 10px;
  min-width: 172px;
  height: 37px;
  color: inherit;
  vertical-align: top;
  position: relative;
  display: inline-flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: .3s;
  &::before,
  &::after {
    height: 100%;
    top: 0;
    position: absolute;
    content: '';
    transition: all .6s ease;
    z-index: -1;
  }
  &::before {
    width: 0;
    left: 0;
    background: url(../img/bg-link.png) no-repeat bottom left;
  }
  &::after {
    width: 100%;
    right: 0;
    background: url(../img/bg-link.png) no-repeat top right;

  }
  &:hover {
    color: inherit;
    &::before {
      width: 100%;
    }
    &::after {
      width: 0;
      opacity: 0;
    }
  }
}

.work-links__source {
  transform: translateX(-100%);
}

.work-links__link {
  margin-left: auto;
  transform: translateX(100%);
}

.work-panel {
  width: 172px;
  height: 37px;
  padding: 0 20px;
  background: url(../img/bg-link.png) no-repeat top right;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.work-panel__item {
  height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: block;
  }
  &:hover .work-panel__hint {
    opacity: 1;
  }
}

.icon-bs {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
  background-color: #563d7c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: 'B';
  }
}

.icon-js {
  width: 16px;
  height: 16px;
  line-height: 20px;
  padding-right: 1px;
  padding-bottom: 1px;
  font-size: 9px;
  font-weight: 700;
  color: #333;
  background-color: #f7df1e;
  display: inline-block;
  text-align: right;
}

.icon-jquery {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.icon-html5, .icon-css3 {
  width: 18px;
  height: 18px;
  box-shadow: inset 0 0 20px 20px #fff;
}

.work-panel__hint {
  position: absolute;
  bottom: 100%;
  right: 0;
  white-space: nowrap;
  color: #ffff;
  background-color: #9cacc3;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity .3s ease;
  &::before {
    border: 5px solid transparent;
    border-top: 8px solid #9cacc3;
    bottom: -13px;
    position: absolute;
    right: 3px;
    content: '';
  }
}

.work-design {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  cursor: pointer;
  display: flex;
  opacity: 0;
  transition: opacity .3s ease;
  .icon-image {
    fill: #ffffff;
    width: 96px;
    margin: auto;
  }
}
