.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-view {
    width: 100%;
    height: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    @include font-size(19px);
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 300px;
        height: 0;
        top: 50%;
        left: 50%;
        background: rgba(#fff, .6);
        opacity: 0;
        transition: opacity .5s ease, height .5s ease;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
}

.product-view-text {
    opacity: 0;
    position: relative;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.product-item {
    margin-bottom: 50px;
    padding: 5px 5px 10px;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    .btn-pink {
        min-width: 90px;
    }
    &:hover {
        box-shadow: 0 0 14px 0.75px rgba(0, 0, 0, 0.2);
        .product-view {
            border-color: #fff;
            &::after {
                height: 350px;
                opacity: 1;
            }
        }
        .product-view-text {
            opacity: 1;
        }
    }
}

.product-item-media {
    width: 100%;
    height: 163px;
    margin-bottom: 25px;
    border: 2px solid $pink;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.product-item-title {
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    @include font-size(18px);
    a:not(:hover) {
        color: $black;
    }
}

.product-item-bottom {
    display: flex;
    align-items: center;
}

.product-item-price {
    margin-left: auto;
    font-weight: bold;
    color: $black;
    @include font-size(18px);
    .icon-rub {
        width: 16px;
        height: 16px;
        margin-bottom: -2px;
        display: inline-block;
        fill: $black;
    }
}
