.section-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-layer__title {
  color: #9dacc2;
  text-transform: uppercase;
  text-align: center;
}

.section-layer__content {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  color: #4f4949;
  flex: 1;
}

@media (min-width: 576px) {
  .section-layer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section-layer__title {
    margin-bottom: 40px;
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .section-layer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-layer__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
