.section-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-layer__title {
  margin-bottom: 40px;
  color: #9dacc2;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 568px) {
    font-size: 40px;
  }
  @media (min-width: 567px) {
    font-size: 48px;
  }
}

.section-layer__title-link {
  text-decoration: none;
  color: inherit;
  transition: color .3s;

  &:hover {
    color: #fff;
  }
}

.section-layer__content {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  color: #4f4949;
  flex: 1;
}
