.sidebar {
    fieldset {
        margin-bottom: 30px;
    }
}

.filter-title {
    padding: 4px 0 0;
    margin-bottom: 15px;
    font-size: 18px;
}

.mse2_number_slider {
    margin-bottom: 15px;
}

.filter-number-inputs {
    display: flex;
    label {
        margin-bottom: 0;
        display: inline-flex;
        align-items: baseline;
        &:last-of-type {
            margin-left: auto;
        }
    }
    input {
        width: 55px;
        height: 26px;
        padding: 0 5px;
    }
}

.filter-slider-text {
    margin-right: 5px;
}

.ui-slider .ui-slider-handle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.ui-widget.ui-widget-content {
    border-color: #dd709b !important;
}

.ui-widget-header {
    border-color: #dd709b !important;
    background: #ff7cb0 !important;
}

.ui-slider-horizontal {
    height: 7px;
}ç c≈


.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -1px;
    &:focus {
        outline: none;
        border-color: #dd709b;
    }
}

.ui-slider-horizontal .ui-slider-handle:last-of-type {
    margin-left: -17px;
}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active {
    border: 1px solid #ffffff;
    background: #ff7cb0;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.filter-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    span {
        margin: auto;
    }
}

#mse2_filters.open-filter {
    transform: none;
}
