.home header {
  height: 100vh;
  background: #4c6fae;
  background: radial-gradient(ellipse at center, #4c6fae 0%, #111735 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 567px) {
    padding-bottom: 50px;
  }
}

.page header {
  margin-bottom: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 1px 10px #4c6fae;
  background: #111735;
  background: -moz-linear-gradient(top, #111735 0%, #4c6fae 100%);
  background: -webkit-linear-gradient(top, #111735 0%, #4c6fae 100%);
  background: linear-gradient(to bottom, #111735 0%, #4c6fae 100%);
  flex: none;
}

header {
  width: 100%;
  position: relative;
  color: #fff;
  &::before {
    width: 100%;
    height: 29px;
    top: 10px;
    left: 0;
    position: absolute;
    background: url(../img/ruler.png) repeat-x top left;
    content: '';
  }
}

.header-panel {
  display: flex;
  align-items: center;
}

.header-center {
  margin: auto 0;
}

.header-title {
  font-size: 72px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1;
  text-shadow: -2px -2px 7px rgba(17, 23, 53, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-title-html {
  &::before {
    content: '<';
  }
  &::after {
    content: '>';
  }
}

.header-title-css {
  display: inline-flex;
  align-items: center;
  &::before {
    content: '{';
  }
  &::after {
    content: '}';
  }
}

.header-title-center {
  width: 100%;
  text-transform: uppercase;
}

.header-text {
  margin-bottom: auto;
  text-align: center;
  text-shadow: -2px -2px 7px rgba(17, 23, 53, 0.3);
}

.next-layer {
  height: 70px;
  margin-left: -10px;
  padding: 12px;
  bottom: 30px;
  left: 50%;
  position: absolute;
  &::before {
    width: 1px;
    height: 50px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #4c6fae;
    z-index: 5;
    box-shadow: inset 0 0 0 #fff;
    animation: spin 1.5s 1000 linear;
  }
  &::after {
    width: 12px;
    height: 12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    transform: rotate(-45deg);
    content: '';
  }
}

.nav-area {
  margin-left: auto;
  position: relative;
}

.menu {
  text-transform: uppercase;
  display: flex;
  transition: all 0.3s ease;
  li {
    position: relative;
    color: #9dacc2;
    &::before, &::after {
      width: 0;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      position: absolute;
      content: '';
      transition: all 0.5s ease;
    }
    &::before {
      left: 0;
      top: -3px;
    }
    &::after {
      right: 0;
      bottom: -3px;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:not(.menu-active):hover {
      &::before, &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
  a {
    color: #fff;
  }
}

.menu-toggle {
  display: none;
}
