.not-fount {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2b323c;
}

.not-fount__inner {
  min-height: 1000px;
  background: url(../img/bg/404.svg) no-repeat center 100px;
  background-size: contain
}
