@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/animations";
@import "blocks/header";

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.our-work {
    background-color: #fcf9f7;
}
