@import "lib/reboot";
@import "general/variables";
@import "general/mixin";
@import "general/core";
@import "general/animations";
@import "blocks/header";


/*
//@import "common/fonts";
@import "lib/bootstrap";
@import "lib/bootstrap/bootstrap-grid";
@import "common/form";
@import "common/btn";
@import "common/common";
@import "common/animations";
@import "common/checkbox-radio";
@import "blocks/header";
@import "blocks/html-work";

.section-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  margin-bottom: 70px;
  color: #9dacc2;
  text-transform: uppercase;
  text-align: center;
  @media (max-width: 568px) {
    font-size: 40px;
  }
  @media (min-width: 567px) {
    font-size: 48px;
  }
}

.page-content {
  margin-bottom: 70px;
  flex: 1;
}

.see-all {
  padding: 70px 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  a {
    color: #fff;

    &:hover {
      color: #ff4d02;

      .all {
        fill: #ff4d02;
      }
    }
  }

  .all {
    width: 32px;
    height: 32px;
    fill: #fff;
    display: inline-block;
    vertical-align: bottom;
    transition: all .3s ease;
  }
}

footer {
  padding: 50px 0;
  background-color: #222222;
  color: #fff;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  @include font-size(16px);
}

.main-article {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  color: #4f4949;
  flex: 1;
}

@include from('m') {
  body::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px solid #222;
    position: fixed;
    pointer-events: none;
    z-index: 90;
    content: '';
  }


}

@include from('s') {
  .home header {
    padding-top: 100px;
  }
  .header-text {
    font-size: 30px;
  }
}

@include to('s') {
  .header-title {
    margin-bottom: 50px;
    font-size: 50px;
  }
  .header-title-html {
    width: 100%;
  }
  .header-title-css {
    margin: 15px 0;
  }
}

@include to('xs') {
  header {
    padding-top: 50px;
  }
  .home header::before {
    top: 0;
  }
  .header-text {
    font-size: 20px;
  }

  .menu {
    white-space: nowrap;
    position: fixed;
    top: 195px;
    right: 0;
    background-color: rgba(#333, .9);
    padding: 15px;
    flex-direction: column;
    transform: translateX(110%);

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .menu-toggle {
    width: 50px;
    height: 50px;
    background: transparent;
    padding: 0;
    display: block;
    position: relative;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    &::before {
      width: 34px;
      height: 3px;
      top: 23px;
      right: 0;
      position: absolute;
      content: '';
      transition: all .3s ease;
      background-color: #fff;
      box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
    }

    &:focus, &:hover {
      outline: none;
    }
  }
  .nav-opened {
    overflow: hidden;

    .menu {
      transform: translateX(0);
    }
  }
  .logo {
    width: 100%;
    text-align: center;
  }

  .footer-wrap {
    flex-direction: column;
  }
  .copy {
    margin-bottom: 30px;
  }
  .header-title {
    margin-bottom: 20px;
    font-size: 11vw;
  }
}
*/
