@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/form";
@import "common/btn";
@import "common/common";
@import "common/animations";
@import "common/checkbox-radio";
@import "blocks/header";
@import "blocks/html-work";

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    margin-bottom: 70px;
    color: #9dacc2;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.page-content {
    margin-bottom: 70px;
    flex: 1;
}

.see-all {
    padding: 70px 0 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    a {
        color: #fff;
        &:hover {
            color: #ff4d02;
            .all {
                fill: #ff4d02;
            }
        }
    }
    .all {
        width: 32px;
        height: 32px;
        fill: #fff;
        display: inline-block;
        vertical-align: bottom;
        transition: all .3s ease;
    }
}

footer {
    padding: 50px 0;
    background-color: #222222;
    color: #fff;
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    font-size: 15px;
}

.main-article {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    color: #4f4949;
    flex: 1;
}
