<header class="header-page">
    <div class="container">
        <div class="header-page__inner">
            <div class="header-logo">
                <div class="header-logo__icon">
                    <img src="img/logo.svg" alt="AlexLenk.ru HTML/CSS coder">
                </div>
                <div class="header-logo__name">Alex Lenk</div>
                <div class="header-logo__headline">frontend developer</div>
            </div>

            <nav class="menu">
                <button type="button" class="menu-toggle"><span class="sr-only">открыть меню</span></button>

                <ul class="menu-list list-unstyled">
                    <li class="menu-item"><a href="#" class="menu-link">Портфолио</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Обо мне</a></li>
                    <li class="menu-item menu-item__active"><a href="#" class="menu-link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
