<section class="work section-layer" id="our-work">
    <div class="work-inner container">
        <h2 class="section-layer__title">Портфолио</h2>

        <ul class="work-list list-unstyled">
            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/wineexpress.jpg" alt="">

                    <div class="work-control">
                        <a href="https://wineexpress.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="https://wineexpress.ru/" class="work-item__title-link" rel="nofollow" data-word="WineExpress" target="_blank">WineExpress</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/mi-shop.jpg" alt="">

                    <div class="work-control">
                        <a href="https://mi-shop.com/ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="https://mi-shop.com/ru/" class="work-item__title-link" rel="nofollow" data-word="Смарт Оранж" target="_blank">Смарт Оранж</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/hitbuy.jpg" alt="">

                    <div class="work-control">
                        <a href="https://hitbuy.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="https://hitbuy.com/" class="work-item__title-link" rel="nofollow" data-word="HITBUY" target="_blank">HITBUY</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/stroimegabaza.jpg" alt="">

                    <div class="work-control">
                        <a href="https://stroimegabaza.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="https://stroimegabaza.ru/" class="work-item__title-link" rel="nofollow" data-word="Стройбаза №1" target="_blank">Стройбаза №1</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/074j2e-azro_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/azro" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="https://azro.studio/ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="https://azro.studio/ru/" class="work-item__title-link" rel="nofollow" data-word="AZRO Studio" target="_blank">AZRO Studio</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/5v70f6-hograllyminsk_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/hog" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="http://hograllyminsk.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="http://hograllyminsk.com/" class="work-item__title-link" rel="nofollow" data-word="H.O.G.® RALLY MINSK" target="_blank">H.O.G.® RALLY MINSK</a>
                </div>
            </li>
            <!-- END work-item -->
        </ul>

        <div class="work-all">
            <a href="portfolio.html" class="work-all-link">
                <svg class="work-all-icon">
                    <use xlink:href="img/sprite.svg#all"></use>
                </svg>
                Все работы по разработке
            </a>
        </div>
    </div>
</section>
