<section class="work" id="our-work">
    <div class="work-inner container">
        <h2 class="section-layer__title">Портфолио HTML верстки</h2>

        <ul class="work-list list-unstyled">
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/work.png" alt="">

                    <div class="work-control">
                        <a href="#" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="#" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="#" class="work-item__title-link" rel="nofollow" data-word="стройграндсервис" target="_blank">стройграндсервис</a>
                </div>
            </li>
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/work.png" alt="">
                    <div class="work-control">
                        <a href="#" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="#" class="work-item__title-link" rel="nofollow" data-word="стройграндсервис" target="_blank">стройграндсервис</a>
                </div>
            </li>
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/work.png" alt="">

                    <div class="work-control">
                        <a href="#" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="#" class="work-item__title-link" rel="nofollow" data-word="стройграндсервис" target="_blank">стройграндсервис</a>
                </div>
            </li>
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/work.png" alt="">

                    <div class="work-control">
                        <a href="#" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>
                    <div class="work-design">
                        <svg class="icon-image">
                            <use xlink:href="img/sprite.svg#image"></use>
                        </svg>
                    </div>
                </div>

                <div class="work-item__title">
                    <a href="#" class="work-item__title-link" rel="nofollow" data-word="стройграндсервис" target="_blank">стройграндсервис</a>
                </div>
            </li>
        </ul>

        <div class="see-all">
            <a href="#" class="see-all-link">
                <svg class="see-all-icon">
                    <use xlink:href="img/sprite.svg#all"></use>
                </svg>
                Все работы по верстке
            </a>
        </div>
    </div>
</section>
