<!doctype html>
<html lang="ru">
@@include('partial/head.html', {
"title": "404 ошибка",
"description": "404 ошибка - такой страницы не существует"
})
<body>
@@include('partial/header-page.html')

<article class="section-layer__content">
    <div class="container">
        <h1>404 ошибка - такой страницы не существует</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</article>

@@include('partial/footer.html')

@@include('partial/scripts.html')
</body>
</html>
