<!doctype html>
<html lang="ru">
@@include('partial/head.html', {
"title": "AlexLenk.ru HTML/CSS/JS coder - опытный фронтенд разработчик",
"description": ""
})
<body>
@@include('partial/header.html')

@@include('partial/work.html')

<div class="section-layer__content">
    <article class="container">
        <p>
            Привет! Меня зовут Александр. Я&nbsp;опытный фронтенд разработчик. Со&nbsp;свежим взглядом и&nbsp;креативным
            подходом, я&nbsp;творю чудеса, помогая продукту ожить и&nbsp;обрести законченный индивидуальный образ.
        </p>

        <h2>Хобби&nbsp;&mdash; оно&nbsp;же и&nbsp;дело всей жизни. Такое возможно?</h2>

        <p>
            Я&nbsp;нашел свое призвание&nbsp;&mdash; создавать и&nbsp;конструировать сайты. И&nbsp;делаю это креативно.
            Оживляя картинку, разрабатываю грамотную и&nbsp;удобную структуру, и&nbsp;сейчас приоткрою завесу за&nbsp;кулисье
            собственной жизни.
        </p>

        <p>
            Как и&nbsp;у&nbsp;всех успешных и&nbsp;развивающихся людей, мой путь был тернистым и&nbsp;наполненным яркими
            событиями. Переломных моментов тоже было достаточно. Несмотря на&nbsp;то, что мне всего 33&nbsp;года, я&nbsp;успел
            поработать в&nbsp;таких крупных компаниях, как: &laquo;AZRO STUDIO&raquo;, ООО &laquo;Смарт Оранж&raquo;,
            &laquo;Алианта Групп&raquo; и&nbsp;других.
        </p>

        <p>
            Обычно люди выбирают себе работу для определенного качества жизни, ради бумажных купюр и&nbsp;дальнейшего
            карьерного роста. Многие так и&nbsp;не&nbsp;находят дело всей жизни и&nbsp;мучаются ради того, чтобы просто
            прожить свои дни достойно. А&nbsp;хобби? Его люди и&nbsp;выбирают для того, чтобы отвести душу, расслабиться
            и&nbsp;насладиться тем, что действительно нравится.
        </p>

        <p>
            Это меня всегда и&nbsp;смущает. А&nbsp;что, если хобби&nbsp;&mdash; это и&nbsp;есть дело всей твоей жизни?
            Со&nbsp;мной так и&nbsp;произошло. Я&nbsp;нашел свое призвание, то, что заставляет сердце биться чаще и&nbsp;зажигает
            душу ярким огнем.
        </p>

        <h2>От&nbsp;юного предпринимателя до&nbsp;веб разработчика в&nbsp;серьезной компании.</h2>

        <p>
            Пусть мой берет начало в&nbsp;2002&nbsp;году. Именно тогда я&nbsp;встал на&nbsp;путь предпринимательства.
            Хоть был&nbsp;юн, но&nbsp;что-то внутри уже толкало меня вперед, к&nbsp;развитию и&nbsp;поиску себя.
            Попросту выкупая игровые приставки, сдавал их&nbsp;в&nbsp;аренду. Параллельно занимался ремонтов компьютеров
            и&nbsp;всем, что с&nbsp;ними связано. Прокачивая свои технические навыки, в&nbsp;скором времени меня начали
            интересовать сайты. И&nbsp;постепенно, на&nbsp;любительской основе, пришел к&nbsp;IT и&nbsp;стал
            веб-мастером.
        </p>

        <p>
            Да, уже тогда меня заинтересовал этот удивительный мир IT. Разрабатывая сайты для себя, я&nbsp;успешно
            продавал&nbsp;их, но&nbsp;еще не&nbsp;являлся мастером своего дела. Это был 2008&nbsp;год.
        </p>

        <p>
            Но&nbsp;переломным для меня стал именно 2014&nbsp;год. Из&nbsp;солнечной Молдавии, приехал близкий друг, это
            подтолкнуло меня поселиться вместе, в&nbsp;одной квартире.
        </p>

        <p>
            Конечно, только прибывшему в&nbsp;Москву другу, необходимо было где-то работать и&nbsp;я&nbsp;охотно помог
            разослать резюме. И&nbsp;тут вмешалась судьба. Везение это было или&nbsp;же случайность, но&nbsp;я&nbsp;подал
            свое резюме просто в&nbsp;шутку. Какого&nbsp;же было мое удивление, когда вскоре увидел приглашение на&nbsp;собеседование.
        </p>

        <p>
            Теперь я&nbsp;официально стал HTML&nbsp;&mdash; верстальщиком, по&nbsp;совместительству контент&nbsp;&mdash;
            менеджером. Мой талант оценили и&nbsp;через год моим местом уже стало кресло помощника программиста. Внутри
            поселилось уверенное и&nbsp;острое чувство, что это мой, точно мой путь. Я&nbsp;продолжал развиваться с&nbsp;рьяной
            скоростью.
        </p>

        <p>
            Старания также окупались и&nbsp;финансово, так я&nbsp;стал еще и&nbsp;прилично зарабатывать. Не&nbsp;буду
            лукавить, это мне очень нравилось. А&nbsp;кто не&nbsp;был&nbsp;бы счастлив, получив такую приличную отдачу
            от&nbsp;любимого дела? Спустя два года, жизнь подарила мне не&nbsp;только любимую и&nbsp;хорошо оплачиваемую
            работу, но&nbsp;и&nbsp;любимую и&nbsp;дорогую жену =)). Так в&nbsp;мою копилку пришла новая грань&nbsp;&mdash;
            семья. Я&nbsp;счастливый отец двух мальчишек, которые, возможно, однажды пойдут по&nbsp;моим стопам.
        </p>

        <p>
            Теперь мой путь освещает любовь в&nbsp;сердце и&nbsp;счастливый, заливистый детский смех.
        </p>

        <h2>Как быть креативным в&nbsp;такой профессии, как IT?</h2>

        <p>
            Все очень просто. Я&nbsp;вкладываю в&nbsp;это душу. Отдаюсь работе без остатка и&nbsp;вижу не&nbsp;только
            коды и&nbsp;бездушные макеты, а&nbsp;целый мир. Передо мной стоит не&nbsp;только одна задача&nbsp;&mdash;
            сверстать, я&nbsp;смотрю на&nbsp;разработку и&nbsp;конструирование с&nbsp;различных сторон. Ведь чем
            интереснее подход, чем свежее взгляд, тем интереснее и&nbsp;креативнее результат.
        </p>

        <p>
            Я&nbsp;создаю такой продукт, которым поистине могу гордиться. Делая как для себя, подходя нестандартно к&nbsp;решению
            задач, я&nbsp;создаю &laquo;живой&raquo; сайт. Он&nbsp;дышит и&nbsp;вдохновляет, радует глаз тех, кто
            посещает страницу. В&nbsp;этом и&nbsp;смысл, верно?
        </p>

        <p>
            Среди суррогата и&nbsp;бездушной погоней за&nbsp;хорошей оплатой, которая сплошь и&nbsp;рядом в&nbsp;нашем
            современном мире, я&nbsp;вижу иную цель. Создать нечто, что будет действительно греть душу посетителей. Для
            меня это&nbsp;&mdash; искусство.
        </p>

        <p>
            Я&nbsp;словно сливаюсь с&nbsp;сайтом воедино и&nbsp;могу часами конструировать его. И&nbsp;тут уже меня не&nbsp;остановить.
            Словно в&nbsp;трансе, на&nbsp;одной волне с&nbsp;идеей, передо мной рождается готовый продукт.
        </p>

        <p>
            Порой я&nbsp;долго думаю над решением той или иной задачи, и&nbsp;удивительным фактом является&nbsp;то, что
            решение приходит практически молниеносно. Будто, само собой.
        </p>

        <p>
            Это&nbsp;ли не&nbsp;призвание? Когда сердце бьется в&nbsp;унисон с&nbsp;работой всей жизни.
        </p>
    </article>
</div>

@@include('partial/footer.html')

@@include('partial/scripts.html')
</body>
</html>
