<!doctype html>
<html lang="ru">
@@include('partial/head.html')
<body class="home">
@@include('partial/header.html')
@@include('partial/html-work.html')

<div class="main-article">
    <article class="container">
        <h4>Здравствуйте!</h4>

        <p>Рад вас приветствовать на своем ресурсе. Если вы зашли сюда, значит вам нужна лучшая HTML верстка, которая
            будет отвечать последним тенденциям современного IT мира.</p>

        <p>Вы попали по адресу AlexLenk.ru :) и вам больше не нужно тратить свое драгоценное время, пересматривая
            десятки не опытных верстальщиков в интернете.</p>

        <p>Могу смело заявить — я опытный специалист по HTML верстке, поэтому создам безупречный код, который
            соответствует всем вашим требованиям.</p>

        <h2>Что за профессия — HTML верстальщик?</h2>

        <p>Поговорим не много о моей профессии верстальщика. Вы можете не иметь ни малейшего понятия о том, кто такой
            HTML верстальщик, но это не помешает вам получить HTML код, при чем разного качества. Хочу вкратце
            рассказать, чем я занимаюсь и почему моя услуга верстки макетов вам будет полезна.</p>

        <p>Наверняка вы обратили внимание, что каждая WEB-страница имеет свою структуру. На экране есть место для
            текста, заголовков, картинок, меню, слайдеров, логотипа и других элементов. Благодаря такой упорядоченности
            посетитель может без труда найти нужную информацию и перемещаться по разделам. Возможно, вы уже
            представляете, как должен выглядеть ваш будущий ресурс, но как "объяснить" это браузеру? Конечно же,
            рассказать ему об этом на понятном языке, которым является HTML разметка. К слову сказать, HTML не является
            языком программирования, а всего лишь язык гипертекстовой разметки.</p>

        <p>Верстка сайта HTML позволяет работать с любыми параметрами страницы:</p>

        <ul>
            <li>количеством, размером и расположением блоков;</li>
            <li>контентом;</li>
            <li>видом гиперссылок;</li>
            <li>списками и абзацами;</li>
            <li>подзаголовками;</li>
            <li>отступами;</li>
            <li>фоном;</li>
            <li>цветом текста и шрифтами и т.д.</li>
        </ul>

        <p>Каждый элемент имеет собственный HTML код, который говорит браузеру о том, что нужно отображать на экране
            монитора. Для того, чтобы работать с внешним видом разных элементов, используются каскадные таблицы стилей
            CSS, которые связаны с основным HTML-шаблоном. Готовая верстка сайта HTML CSS — это и есть ваш готовый
            интернет-ресурс, этот код вы можете разместить на хостинге, а пользователи сети увидят его в виде страниц
            сайта.</p>

        <h2>Возможности HTML-верстки</h2>

        <p>Самый простой пример — это HTML-верстка писем. Наверняка каждый из вас получал красивые рассылки, состоящие
            из текстовых и графических блоков, ссылок на лендинг. Структура, которую вы видите на экране, создана с
            помощью HTML-кода. Возможности почтовых серверов не позволяют осуществлять подобное форматирование. Если вы
            просто напишете письмо, то адресат получит просто текст.</p>

        <p>JavaScript аббревиатура JS - мультипарадигменный язык программирования. JS сценарий я широко применяю при
            верстке страничек для придания интерактивности веб-страницам.</p>
    </article>
</div>

@@include('partial/footer.html')
@@include('partial/scripts.html')
</body>
</html>
