<!doctype html>
<html lang="ru">
@@include('partial/head.html', {
"title": "Портфолио",
"description": "Портфолио и много хороших и последних работ фронтенд разработчика Александра"
})
<body>
@@include('partial/header-page.html')

<article class="work">
    <div class="work-inner container">
        <h1 class="section-layer__title">Портфолио</h1>

        <ul class="work-list list-unstyled">
            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/wineexpress.jpg" alt="">

                    <div class="work-control">
                        <a href="https://wineexpress.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://wineexpress.ru/" class="work-item__title-link" rel="nofollow" data-word="WineExpress" target="_blank">WineExpress</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/mi-shop.jpg" alt="">

                    <div class="work-control">
                        <a href="https://mi-shop.com/ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://mi-shop.com/ru/" class="work-item__title-link" rel="nofollow" data-word="Смарт Оранж" target="_blank">Смарт Оранж</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/hitbuy.jpg" alt="">

                    <div class="work-control">
                        <a href="https://hitbuy.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://hitbuy.com/" class="work-item__title-link" rel="nofollow" data-word="HITBUY" target="_blank">HITBUY</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="/img/work/stroimegabaza.jpg" alt="">

                    <div class="work-control">
                        <a href="https://stroimegabaza.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://stroimegabaza.ru/" class="work-item__title-link" rel="nofollow" data-word="Стройбаза №1" target="_blank">Стройбаза №1</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/074j2e-azro_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/azro" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="https://azro.studio/ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://azro.studio/ru/" class="work-item__title-link" rel="nofollow" data-word="AZRO Studio" target="_blank">AZRO Studio</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/5v70f6-hograllyminsk_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/hog" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="http://hograllyminsk.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="http://hograllyminsk.com/" class="work-item__title-link" rel="nofollow" data-word="H.O.G.® RALLY MINSK" target="_blank">H.O.G.® RALLY MINSK</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/bkp9qw-complimento_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/complimento" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <span class="work-item__title-link">COMPLIMENTO</span>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/ozg6lh-localagent_368x278_821.jpg" alt="">

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                        <li class="work-panel__item">
                            <span class="icon-js">JS</span>
                            <span class="work-panel__hint">JavaScript</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <span class="work-item__title-link">LOCALAGENT</span>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/dzwju8-pfmpartners_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/pfm" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="https://pfmpartners.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="https://pfmpartners.com/" class="work-item__title-link" rel="nofollow" data-word="ПФМ" target="_blank">ПФМ</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/r7lj8f-ic-ie_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="https://github.com/alex-lenk/icie" class="work-control__item work-control__source" rel="nofollow" target="_blank">
                            <svg class="work-control__icon github">
                                <use xlink:href="img/sprite.svg#github"></use>
                            </svg>
                            Исходный код
                        </a>
                        <a href="http://www.ic-ie.com/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="http://www.ic-ie.com/" class="work-item__title-link" rel="nofollow" data-word="МКПП ICIE" target="_blank">МКПП ICIE</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/n4f1ds-stroygrandservis_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="http://stroygrandservis.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="http://stroygrandservis.ru/" class="work-item__title-link" rel="nofollow" data-word="ООО &laquo;СТРОЙГРАНДСЕРВИС&raquo;" target="_blank">ООО &laquo;СТРОЙГРАНДСЕРВИС&raquo;</a>
                </div>
            </li>
            <!-- END work-item -->

            <!-- Begin work-item -->
            <li class="work-item">
                <div class="work-item__inner">
                    <img src="img/old_work/ijrn4z-valant_368x278_821.jpg" alt="">

                    <div class="work-control">
                        <a href="http://valant.ru/" class="work-control__item work-control__link" rel="nofollow" target="_blank">
                            <svg class="work-control__icon www">
                                <use xlink:href="img/sprite.svg#www"></use>
                            </svg>
                            Посетить сайт
                        </a>
                    </div>

                    <ul class="work-panel list-unstyled">
                        <li class="work-panel__item">
                            <span class="icon-bs"></span>
                            <span class="work-panel__hint">bootstrap 3</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-jquery">
                                <use xlink:href="img/sprite.svg#jquery"></use>
                            </svg>
                            <span class="work-panel__hint">jQuery</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-html5">
                                <use xlink:href="img/sprite.svg#html"></use>
                            </svg>
                            <span class="work-panel__hint">HTML5</span>
                        </li>
                        <li class="work-panel__item">
                            <svg class="icon-css3">
                                <use xlink:href="img/sprite.svg#css"></use>
                            </svg>
                            <span class="work-panel__hint">CSS3</span>
                        </li>
                    </ul>
                </div>

                <div class="work-item__title">
                    <a href="http://valant.ru/" class="work-item__title-link" rel="nofollow" data-word="ООО «ТАРГО-ТРЕЙД»" target="_blank">ООО «ТАРГО-ТРЕЙД»</a>
                </div>
            </li>
            <!-- END work-item -->
        </ul>
    </div>
</article>

@@include('partial/footer.html')

@@include('partial/scripts.html')
</body>
</html>
