<header>
    <div class="container">
        <div class="header-panel">
            <div class="logo">
                <img src="img/logo2.png" alt="AlexLenk.ru HTML/CSS coder">

                <div class="signature">
                    <span class="header-title-html">HTML</span>
                    <span class="header-title-css">CSS</span>
                    верстальщик
                </div>
            </div>

            <nav class="nav-area">
                <button class="menu-toggle"></button>

                <ul class="menu list-unstyled">
                    <li><a href="#">Обо мне</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
