<header>
    <div class="container">
        <div class="header-panel">
            <div class="logo">
                <img src="img/logo2.png" alt="AlexLenk.ru HTML/CSS coder">
            </div>

            <nav class="nav-area">
                <button class="menu-toggle"></button>

                <ul class="menu list-unstyled">
                    <li><a href="#">Обо мне</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-center">
            <h1 class="header-title">
                <span class="header-title-html">HTML</span>
                <span class="header-title-css"><span class="header-title-css__text">CSS</span></span>
                <span class="header-title-center">coder</span>
            </h1>

            <div class="header-text">Фронтенд разработчик</div>
        </div>
    </div>
    <a href="#our-work" class="next-layer" rel="nofollow"></a>
</header>
