<div class="slider">
        <div class="slider-item" style="background-image: url(img/slider-b/layer.jpg)">
                <div class="container">
                        <h2 class="slider-title">укладка рулонных газонов под ключ</h2>

                        <div class="slider-s">
                                <ul class="nav nav-tabs" role="tablist">
                                        <li  data-target="#home" aria-controls="home" role="tab" data-toggle="tab" class="active">Продажа рулонных газонов</li>
                                        <li  data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Укладка рулонных газонов</li>
                                        <li data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ландшафтный дизайн участка</li>
                                        <li data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Системы автоматического полива</li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home"><img src="img/slider-s/layer.jpg" alt=""></div>
                                        <div role="tabpanel" class="tab-pane" id="profile"><img src="img/slider-s/layer-2.jpg" alt=""></div>
                                        <div role="tabpanel" class="tab-pane" id="messages"><img src="img/slider-s/layer-3.jpeg" alt=""></div>
                                        <div role="tabpanel" class="tab-pane" id="settings"><img src="img/slider-s/layer-4.jpg" alt=""></div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="slider-item" style="background-image: url(img/slider-b/layer-2.jpg)">
                <div class="container">
                        <h2 class="slider-title">Ландшафтный дизайн участка</h2>
                </div>
        </div>

        <div class="slider-item" style="background-image: url(img/slider-b/layer-3.jpg)">
                <div class="container">
                        <h2 class="slider-title">Системы автоматического полива</h2>
                </div>
        </div>

        <div class="slider-item" style="background-image: url(img/slider-b/layer-4.jpg)">
                <div class="container">
                        <h2 class="slider-title">Посадка растений из питомника</h2>
                </div>
        </div>
</div>
