<section class="video container bg-full">
    <h2 class="video-title">Видео наших работ</h2>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="video-item">
                <img src="img/example/video-1.png" alt="">
                <div class="video-text text-bold">
                    Укладка рулонного газона.
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="video-item">
                <img src="img/example/video-2.png" alt="">
                <div class="video-text text-bold">
                    культивация участка для газона
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="video-item">
                <img src="img/example/video-3.png" alt="">
                <div class="video-text text-bold">
                    ландшафт дачного участка
                </div>
            </div>
        </div>
    </div>
</section>
