<app-header-page></app-header-page>

<article class="work section-layer">
  <div class="work-inner container">
    <h1 class="section-layer__title">Портфолио</h1>

    <ul class="work-list list-unstyled">
      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/logisticservice.jpg" alt="Alianta Logistics">

          <div class="work-control">
            <a href="https://logisticservice.wine/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://logisticservice.wine/" class="work-item__title-link" rel="nofollow noopener" data-word="Alianta Logistics" target="_blank">Alianta Logistics</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/wineexpress.jpg" alt="">

          <div class="work-control">
            <a href="https://wineexpress.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://wineexpress.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="WineExpress 2020" target="_blank">WineExpress 2020</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/mi-shop.jpg" alt="">

          <div class="work-control">
            <a href="https://mi-shop.com/ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://mi-shop.com/ru/" class="work-item__title-link" rel="nofollow noopener" data-word="Смарт Оранж" target="_blank">Смарт Оранж</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/hitbuy.jpg" alt="">

          <div class="work-control">
            <a href="https://hitbuy.com/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://hitbuy.com/" class="work-item__title-link" rel="nofollow noopener" data-word="HITBUY" target="_blank">HITBUY</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/1dizain.jpg" alt="">

          <div class="work-control">
            <a href="https://1dizain.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://1dizain.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="Школа Дизайна" target="_blank">Школа Дизайна</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/childrens-art-school.jpg" alt="">

          <div class="work-control">
            <a href="/project/детская-школа-искусств/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="/project/детская-школа-искусств/" class="work-item__title-link" rel="nofollow noopener" data-word="детская школа искусств" target="_blank">детская школа искусств</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/1tvs.jpg" alt="">

          <div class="work-control">
            <a href="https://1tvs.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://1tvs.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="Школа Телевидения" target="_blank">Школа Телевидения</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/1dis.jpg" alt="">

          <div class="work-control">
            <a href="https://1dis.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://1dis.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="Школа дизайна интерьера" target="_blank">Школа дизайна интерьера</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/074j2e-azro_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/azro" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>
            <a href="https://azro.studio/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://azro.studio/" class="work-item__title-link" rel="nofollow noopener" data-word="AZRO Studio" target="_blank">AZRO Studio</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/5v70f6-hograllyminsk_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/hog" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>
            <a href="/project/hog/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="/project/hog/" class="work-item__title-link" rel="nofollow noopener" data-word="H.O.G.® RALLY MINSK" target="_blank">H.O.G.® RALLY MINSK</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/bkp9qw-complimento_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/complimento" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>

            <a href="/project/complimento/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <span class="work-item__title-link">COMPLIMENTO</span>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/ozg6lh-localagent_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/localagentnew" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>

            <a href="/project/localagentnew/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <span class="work-item__title-link">LOCALAGENT NEW</span>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/skdo.jpg" alt="">

          <div class="work-control">
            <a href="/project/skdo/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="/project/skdo/" class="work-item__title-link" rel="nofollow noopener" data-word="СКДО" target="_blank">СКДО</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/work/localagent.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/localagent" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>

            <a href="/project/localagent/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <span class="work-item__title-link">LOCALAGENT</span>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/dzwju8-pfmpartners_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/pfm" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>
            <a href="https://pfmpartners.com/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://pfmpartners.com/" class="work-item__title-link" rel="nofollow noopener" data-word="ПФМ" target="_blank">ПФМ</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/r7lj8f-ic-ie_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/icie" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>
            <a href="https://www.ic-ie.com/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="https://www.ic-ie.com/" class="work-item__title-link" rel="nofollow noopener" data-word="МКПП ICIE" target="_blank">МКПП ICIE</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/n4f1ds-stroygrandservis_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="http://stroygrandservis.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="http://stroygrandservis.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="ООО &laquo;СТРОЙГРАНДСЕРВИС&raquo;" target="_blank">ООО &laquo;СТРОЙГРАНДСЕРВИС&raquo;</a>
        </div>
      </li>
      <!-- END work-item -->

      <!-- Begin work-item -->
      <li class="work-item">
        <div class="work-item__inner">
          <img src="/assets/img/old_work/ijrn4z-valant_368x278_821.jpg" alt="">

          <div class="work-control">
            <a href="https://github.com/alex-lenk/valant" class="work-control__item work-control__source" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon github">
                <use xlink:href="/assets/img/sprite.svg#github"></use>
              </svg>
              Исходный код
            </a>

            <a href="http://valant.ru/" class="work-control__item work-control__link" rel="nofollow noopener" target="_blank">
              <svg class="work-control__icon www">
                <use xlink:href="/assets/img/sprite.svg#www"></use>
              </svg>
              Посетить сайт
            </a>
          </div>
        </div>

        <div class="work-item__title">
          <a href="http://valant.ru/" class="work-item__title-link" rel="nofollow noopener" data-word="ООО «ТАРГО-ТРЕЙД»" target="_blank">ООО «ТАРГО-ТРЕЙД»</a>
        </div>
      </li>
      <!-- END work-item -->
    </ul>
  </div>
</article>
