.contacts {
  display: flex;
}

.ui-field.ng-touched {
  &.ng-invalid {
    border-color: red;
  }

  &.ng-valid {
    border-color: green;
  }

  &.ng-untouched {
  }

  &.ng-pristine {
  }

  &.ng-dirty {
  }

  &.ng-pending {
  }
}

.checkbox-custom-view {
  &.ng-invalid.ng-touched::before {
    border-color: red;
  }

  &.ng-valid::before {
    border-color: green;
  }
}

@media (min-width: 768px) {
  .contacts {
    margin-left: -15px;
    margin-right: -15px;
  }
  .contacts-column {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .contacts {
    flex-direction: column;
  }
  .contacts-column {
    margin-bottom: 45px;
  }
  .contacts-form {
    order: 1;
  }
}
