<app-header-page></app-header-page>

<article class="section-layer__content section-layer">
  <div class="container">
    <h1>Контактная информация</h1>

    <div id="alert"></div>


    <div class="contacts">
      <form class="contacts-column contacts-form" [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="ui-group">
          <label for="name" class="sr-only">Ваше имя</label>
          <input type="text" class="ui-field hide-placeholder" id="name" placeholder="Ваше Имя">
        </div>

        <div class="ui-group">
          <label for="email" class="sr-only">E-mail *</label>
          <input type="email" class="ui-field hide-placeholder" id="email" formControlName="email" placeholder="Email *">
          <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="validation">
            <span *ngIf="myForm.get('email').errors.required" class="validation">
              Поле e-mail не может быть пустым
            </span>
            <span *ngIf="myForm.get('email').errors.email">
              Введите корректный e-mail
            </span>
          </div>
        </div>

        <div class="ui-group">
          <label for="message" class="sr-only">Ваше сообщение мне *</label>
          <textarea class="ui-field hide-placeholder" id="message" formControlName="message" placeholder="Ваше сообщение мне *"></textarea>
          <div *ngIf="myForm.get('message').invalid && myForm.get('message').touched" class="validation">
            <span *ngIf="myForm.get('message').errors.required" class="validation">
              Поле не может быть пустым
            </span>
            <span *ngIf="myForm.get('message').errors.minlength">
              Длинна должна быть не менее {{myForm.get('message').errors.minlength.requiredLength}}.
              Сейчас количество символов {{myForm.get('message').errors.minlength.actualLength}}
            </span>
            <span *ngIf="myForm.get('message').errors.maxlength">
              Длинна должна быть не более {{myForm.get('message').errors.maxlength.requiredLength}}.
              Сейчас количество символов {{myForm.get('message').errors.maxlength.actualLength}}
            </span>
          </div>
        </div>

        <!--<div class="agreement ui-group">
          <label class="label-checkbox">
            <input type="checkbox" class="checkbox-custom" formControlName="checkbox">
            <span class="checkbox-custom-view">Я даю свое согласие на обработку персональных данных</span>
          </label>
          <div class="validation" *ngIf="myForm.get('checkbox').invalid && myForm.get('checkbox').touched">
            Дайте свое согласие на обработку персональных данных
          </div>
        </div>-->

        <button type="submit" class="btn btn-blue" [disabled]="myForm.invalid">
          <span class="btn-text">Отправить</span>
        </button>
      </form>

      <div class="contacts-column">
        <p>Адрес: г. Москва, ул. Поклонная, 3, вход Е1</p>
        <p>Телефон: +7 (968) 740-96-46</p>
      </div>
    </div>
  </div>
</article>
