.home__header {
  height: 810px;
  min-height: 650px;
  position: relative;
  background: url(../img/bg/main-header.svg) no-repeat center, linear-gradient(107.86deg, #385D8D 36.25%, #091366 70.23%);
  background-size: cover;

  &::before {
    width: 100%;
    height: 27px;
    opacity: .3;
    left: 0;
    top: 0;
    position: absolute;
    background: url(../img/decor/ruller.svg) repeat-x top left;
    content: '';
  }
}

.home__header-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home__header-title {
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 1;
}

.home__header-subtitle {
  padding-bottom: 50px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.home__header-text {
  color: #fff;
  margin-bottom: auto;
  position: relative;
  z-index: 1;
  line-height: 28px;
}

@media (min-width: 576px) {
  .home__header-title {
    margin-top: auto;
  }
  .home__header-subtitle {
    font-size: 24px;
  }

  .home__nav {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
  }
  .home__nav-list {
    margin-left: 32px;
    flex-grow: 1;
    order: 1;
    display: flex;
    align-items: center;
  }
  .home__nav-item:not(:last-child) {
    margin-right: 32px;
  }
}

@media (min-width: 800px) {
  .home__header-title {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .home__header-inner {
    padding-top: 75px;

    &::after {
      width: 644px;
      height: 387px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url(../img/bg/dev.svg) no-repeat bottom right;
      content: '';
    }
  }
  .home__header-text {
    max-width: 58%;
  }
}

@media (min-width: 1200px) {
  .home__header-text {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .home__header {
    max-height: 700px;
  }
  .home__header-inner {
    text-align: center;
  }
}

@media (max-width: 799px) {
  .home__header-title {
    margin-bottom: 30px;
    font-size: 7.1vw;
  }
}

@media (max-width: 575px) {
  .home__header-inner::after {
      width: 100%;
      height: 280px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url(../img/bg/dev.svg) no-repeat bottom center;
      background-size: contain;
      content: '';
  }
  .home__header-title {
    margin-top: 93px;
  }
  .home__header-subtitle {
    font-size: 18px;
  }
  .home__nav {
    padding-left: 20px;
    position: fixed;
    left: 0;
    bottom: 50px;
    z-index: 11;
    text-align: left;
    will-change: transform;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
  }
  .home__nav-item {
    margin-bottom: 32px;
  }
  .menu-opened .home__nav {
    transform: translateX(0);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home__header-inner::after {
    opacity: .2;
  }
}
