<header class="main-header">
  <div class="main-header__inner container">
    <div class="header-panel">
      <div class="header-logo">
        <div class="header-logo__icon">
          <img [src]="logo" alt="{{ logoAlt }}">
        </div>
        <div class="header-logo__name">{{ title }}</div>
      </div>

      <app-menu class="menu"></app-menu>
    </div>

    <h1 class="header-title">Frontend developer</h1>

    <div class="header-text">
      &lt; HTML /&gt;

      &#123;CSS&#125;
      js()
      coder
    </div>
  </div>

  <a href="#who" class="main-header__next js__go" (click)="OnClick()" rel="nofollow">
    <span class="sr-only">в низ</span>
  </a>
</header>
