<app-header-page></app-header-page>
<section class="resume section-layer">
  <div class="work-inner container">
    <h2 class="section-layer__title">Мои навыки как разработчика</h2>

    <ul class="resume-list list-unstyled">
      <li class="resume-item">
        <div class="resume-name">HTML</div>
        <div class="resume-percent">94%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 94%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">CSS</div>
        <div class="resume-percent">91%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 91%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">SCSS</div>
        <div class="resume-percent">92%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 92%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">JavaScript</div>
        <div class="resume-percent">72%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 72%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">jQuery</div>
        <div class="resume-percent">79%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 79%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">Git</div>
        <div class="resume-percent">74%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 74%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">Gulp</div>
        <div class="resume-percent">69%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 69%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">Figma</div>
        <div class="resume-percent">88%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 88%"></div>
        </div>
      </li>
      <li class="resume-item">
        <div class="resume-name">Photoshop</div>
        <div class="resume-percent">74%</div>
        <div class="resume-process">
          <div class="resume-process__count" style="width: 74%"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
