<div class="contacts section-layer" id="contacts">
  <div class="container">
    <h2 class="section-layer__title">Связь со мною</h2>

    <div class="contacts__section">
      <form class="contact__form contact__col">
        <div class="ui__group">
          <label class="ui__label" for="contact-form__name">Введите Ваше имя*</label>
          <input type="text" name="your_name" id="contact-form__name" class="ui__field" required="">
        </div>

        <div class="ui__group">
          <label class="ui__label" for="contact-form__mail">Введите Ваш email*</label>
          <input type="email" name="your_email" id="contact-form__mail" class="ui__field" required="">
        </div>

        <div class="ui__group">
          <label class="ui__label" for="contact-form__text">Ваше сообщение*</label>
          <textarea name="your_massage" id="contact-form__text" class="ui__field" required=""></textarea>
        </div>

        <button class="btn-blue btn">
          <span class="btn-text">Отправить</span>
        </button>
      </form>

      <div class="contact__col">
        <div class="contacts__requisites-item">
          <div class="contacts__requisites-decor">
            <svg class="contacts__requisites-icon">
              <use xlink:href="img/sprites.svg#phone"></use>
            </svg>
          </div>
          <a href="tel:79268962695" class="contacts__requisites-link">
            +7 (968) 740 96-46
          </a>
        </div>

        <div class="contacts__requisites-item">
          <div class="contacts__requisites-decor">
            <svg class="contacts__requisites-icon">
              <use xlink:href="img/sprites.svg#email"></use>
            </svg>
          </div>
          Адрес: г. Москва, ул. Поклонная, 3, вход Е1
        </div>
      </div>
    </div>
  </div>
</div>
