<footer class="footer">
    <div class="footer-wrap container">
        <div class="footer-copy">
          © 2012-<span class="js__get-year"></span>
          <a href="https://alexlenk.ru/" class="footer-copy__link">AlexLenk.ru</a> опытный фронтенд разработчик - HTML CSS JavaScript кодер
        </div>

        <div>
          <a href="https://www.liveinternet.ru/click" target="_blank" rel="nofollow">
            <img id="licnt63F7" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" alt="">
          </a>
          <script>(function (d, s) {
            d.getElementById("licnt63F7").src =
              "https://counter.yadro.ru/hit?t52.6;r" + escape(d.referrer) +
              ((typeof (s) == "undefined") ? "" : ";s" + s.width + "*" + s.height + "*" +
                (s.colorDepth ? s.colorDepth : s.pixelDepth)) + ";u" + escape(d.URL) +
              ";h" + escape(d.title.substring(0, 150)) + ";" + Math.random()
          })
          (document, screen)</script>
        </div>
    </div>
</footer>


<div class="menu-float"><div class="container"><div class="menu-float__box">Меню</div></div></div>
