<footer class="footer">
    <div class="footer-wrap container">
        <div class="footer-copy">© 2012-2020 AlexLenk.ru HTML CSS JavaScript coder - опытный фронтенд разработчик</div>
        <div>
          <!--LiveInternet counter-->
          <a href="https://www.liveinternet.ru/click" target="_blank" rel="nofollow">
            <img id="licnt63F7" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" alt="">
          </a>
          <script>(function (d, s) {
            d.getElementById("licnt63F7").src =
              "https://counter.yadro.ru/hit?t52.6;r" + escape(d.referrer) +
              ((typeof (s) == "undefined") ? "" : ";s" + s.width + "*" + s.height + "*" +
                (s.colorDepth ? s.colorDepth : s.pixelDepth)) + ";u" + escape(d.URL) +
              ";h" + escape(d.title.substring(0, 150)) + ";" + Math.random()
          })
          (document, screen)</script>
          <!--/LiveInternet-->

        </div>
    </div>
</footer>
