<header class="home__header">
  <div class="home__header-inner container">

    <h1 class="home__header-title">Фронтенд разработчик</h1>

    <div class="home__header-subtitle">
      &lt; HTML /&gt; &nbsp; &nbsp; { CSS } &nbsp; &nbsp; js(кодер)
    </div>

    <div class="home__header-text">
      Я нашел свое призвание — создавать и&nbsp;конструировать сайты.<br>
      Творю чудеса, помогая продукту ожить и&nbsp;обрести законченный индивидуальный образ.
    </div>

    <div>
      <ul class="">
        <li class="nav__menu-item">
          <a href="#who" class="nav__menu-link js__go"># Обо мне</a>
        </li>
        <li class="nav__menu-item">
          <a href="#skills" class="nav__menu-link js__go"># Мои навыки</a>
        </li>
      </ul>

      <a href="#contacts" class="nav__menu-link js__go"># Связаться</a>
    </div>
  </div>
</header>
