<header class="main-header">
    <div class="main-header__inner container">
        <div class="header-panel">
            <div class="header-logo">
                <div class="header-logo__icon">
                    <img src="img/logo.svg" alt="AlexLenk.ru HTML/CSS coder">
                </div>
                <div class="header-logo__name">Alex Lenk</div>
            </div>

            <nav class="menu">
                <button type="button" class="menu-toggle"><span class="sr-only">открыть меню</span></button>

                <ul class="menu-list list-unstyled">
                    <li class="menu-item">
                        <a href="#who" class="menu-link js__go-menu js__go">Кто я?</a>
                    </li>
                    <li class="menu-item">
                        <a href="#experience" class="menu-link js__go-menu js__go">Где я работал?</a>
                    </li>
                    <li class="menu-item">
                        <a href="/portfolio.html" class="menu-link">Портфолио</a>
                    </li>
<!--                    <li class="menu-item">
                        <a href="contacts.html" class="menu-link">Контакты</a>
                    </li>-->
                </ul>
            </nav>
        </div>

        <h1 class="header-title">Фронтенд разработчик</h1>

        <div class="header-text">
          &lt; HTML /&gt;
            {CSS}
            js()
            кодер
        </div>
    </div>

    <a href="#our-work" class="main-header__next js__go" rel="nofollow">
        <span class="sr-only">в низ</span>
    </a>
</header>
