<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>@@title</title>
<meta name="description" content="@@description">

<link rel="stylesheet" href="/css/styles.css?ver=2.0">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?ver=2.0">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?ver=2.0">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?ver=2.0">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?ver=2.0" color="#237bbe">
<link rel="shortcut icon" href="/favicon/favicon.ico?ver=2.0">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?ver=2.0">
<meta name="theme-color" content="#237bbe">
